<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<title>{% block title %}Friends Map{% endblock %}</title>

		{% stylesheets 
			'bundles/theodomap/css/bootstrap.min.css'
			'bundles/theodomap/css/bootstrap-responsive.min.css'
			'bundles/theodomap/css/main.css'
		 %}
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
		{% endstylesheets %}

		{% block stylesheets %}{% endblock %}


		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

    {% javascripts 
      'bundles/theodomap/js/bootstrap.min.js'
      'bundles/theodomap/js/main.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}" charset="utf-8"></script>
    {% endjavascripts %}

    <script type="text/javascript"charset="utf-8">var apiUrl = '{{ path('theodo_map_api_friends') }}';</script>

	</head>

	<body onload="initialize()">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Friends Map</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Hello {{ user.first_name }}</h1> 
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <button class="btn" id="load_friends">Load Friends</p>
      </div>

      <!-- Example row of columns -->
        <div id="map_canvas"></div>
      <hr>

      <footer>
        <p>&copy; Theodo 2012</p>
      </footer>

    </div> <!-- /container -->
	</body>

</html>